/* Actions Buttons company/history.blade */
.table-action {
    font-size: 20px;
    width: 40px;
}

/* Details Timeline (details.blade) */
.timeline {
    position: relative;
}

.timeline:before {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    content: '';
    border-right: 2px dashed #e9ecef;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

.timeline-one-side .timeline-step {
    left: 1.1rem;
}

.timeline-step {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    left: 0;
    display: inline-flex;
    width: 33px;
    height: 33px;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.timeline-one-side .timeline-content {
    width: auto;
}

.timeline-content {
    position: relative;
    position: relative;
    top: -6px;
    margin-left: 60px;
    padding-top: .5rem;
}

/* custom .has-danger */
#person_form .has-danger:after {
    top: 36px;
}

/* Cards Dashboard */
.card-header .icon {
    width: 2.5em;
    height: 2.5em;
}

.card-header .icon i {
    font-size: 1em;
}

/* Table Grupo de Risco Dashboard */
@media (min-width: 1200px)
{
    .table-fixed {
        table-layout: fixed;
    }

    .table-fixed th,
    .table-fixed td
    {
        white-space: normal;
        word-wrap: break-word;
    }

    .table-risk-group th:first-child {
        width: 200px;
    }


    .table-risk-group th:nth-child(2) {
        width: 95px;
    }

    .table-persons th:nth-child(3) {
        width: 120px;
    }

    .table-suspicious,
    .table-suspicious tbody {
        display: block;
        width: 100%;
    }

    .table-suspicious tbody tr {
        display: flex;
    }

    .table-suspicious td,
    .table-suspicious th {
        width: 33.33%;
    }

    .table-suspicious thead {
        display: table;
        width: 100%;
    }

    .table-suspicious tbody {
        max-height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .table-suspicious tbody tr:first-child td {
        border-top: 0;
    }
}

/* Let's get this party started */
.table-suspicious tbody::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.table-suspicious tbody::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.1);
}

/* Handle */
.table-suspicious tbody::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0,0,0,0.3);
}
.table-suspicious tbody::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.2);
}

/* Table History (history.blade.php) */
.table-history thead tr:nth-child(2) th:last-child {
    display: none;
}
