/* Actions Buttons company/history.blade */
.table-action {
    font-size: 20px;
    width: 40px;
}

/* Details Timeline (obsTable.blade) */
.timeline {
    position: relative;
}

.timeline:before {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    content: '';
    border-right: 2px dashed #e9ecef;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

.timeline-one-side .timeline-step {
    left: 1.1rem;
}

.timeline-step {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    left: 0;
    display: inline-flex;
    width: 33px;
    height: 33px;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.timeline-one-side .timeline-content {
    width: auto;
}

.timeline-content {
    position: relative;
    position: relative;
    top: -6px;
    margin-left: 60px;
    padding-top: .5rem;
}
