.accordion .card-header:after {
    font: normal normal normal 14px/1 NucleoIcons;
    line-height: 0;
    position: absolute;            
    right: 1.5rem;
    content: '\ea0f';
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    transform: translateY(-50%);
}
.accordion .card-header[aria-expanded=true]:after {
    transform: rotate(180deg);
}
.accordion .card-header[aria-expanded=false]:after {
    transform: rotate(360deg);
}